.recent-posts {
  background-color: #edf7fa;
  padding: 0 0 30px 0;

  &__container {
    max-width: 857px;
    margin: 0 auto;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1 1 auto;
    font-size: 22px;
    line-height: 60px;
    font-weight: 400;
    padding: 0 20px 0 0;
    @media (max-width: 871px) {
      text-align: center;
      padding: 0 0 0 0;
    }
    @media (max-width: 375px) {
      font-size: 18px;
      line-height: 60px;
    }
  }

  &__view-all {
    flex: 0 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: right;
    color: #00a8cc;

    @media (max-width: 871px) {
      display: none;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      padding: 0 10px;
      flex-direction: column;
    }
  }

  &__column {
    flex: 0 1 50%;
    padding: 0 10px;
    margin: 0 -10px 10px;
  }

  &__item {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 20px;
    height: 100%;
  }

  &__subtitle {
    display: block;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243d;
    transition: color 0.5s ease 0s;

    &:hover {
      color: brown;
    }

    @media (max-width: 768px) {
      font-weight: 700;
      font-size: 22px;
      line-height: 30px;
    }
  }
  &__info {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243d;
    margin-bottom: 11px;

    span {
      margin: 0 15px;
    }
    @media (max-width: 375px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243d;
  }
}
